# IMPORTS

In [1]:
# BASIC IMPORTS
import numpy as np
import pandas as pd
import os
import sys
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.stats as ss
import warnings
from sklearn.exceptions import DataConversionWarning, ConvergenceWarning
import joblib
from sklearn.pipeline import Pipeline


# MODELLING
from sklearn.linear_model import LinearRegression, Ridge,Lasso, LogisticRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ( RandomForestRegressor, AdaBoostRegressor, RandomForestClassifier,
                                AdaBoostClassifier, GradientBoostingClassifier)
from sklearn.svm import SVR, SVC
from sklearn.naive_bayes import GaussianNB
from catboost import CatBoostRegressor, CatBoostClassifier
from xgboost import XGBRegressor, XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier


# PREPROCESSING
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

# MODEL SELECETION
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV

# METRICS
from sklearn.metrics import classification_report
from sklearn.metrics import ( r2_score, mean_absolute_error, mean_squared_error,
    classification_report, confusion_matrix, roc_auc_score, roc_curve,
    precision_recall_curve, precision_score, recall_score, f1_score, log_loss,
    matthews_corrcoef, cohen_kappa_score, accuracy_score, roc_curve, auc, 
)

In [2]:
df = pd.read_csv(r'C:\Users\kabee\OneDrive\Desktop\DS PROJ 2\NOTEBOOK\DATA\Dataset.csv')
df.head(10)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
5,18189371,Din Tai Fung,162,Mandaluyong City,"Ground Floor, Mega Fashion Hall, SM Megamall, ...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056314,14.583764,Chinese,...,Botswana Pula(P),No,No,No,No,3,4.4,Green,Very Good,336
6,6300781,Buffet 101,162,Pasay City,"Building K, SM By The Bay, Sunset Boulevard, M...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979667,14.531333,"Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.0,Green,Very Good,520
7,6301290,Vikings,162,Pasay City,"Building B, By The Bay, Seaside Boulevard, Mal...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979333,14.540000,"Seafood, Filipino, Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.2,Green,Very Good,677
8,6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, ...","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, P...",120.980090,14.552990,"European, Asian, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.9,Dark Green,Excellent,621
9,6314987,Locavore,162,Pasig City,"Brixton Technology Center, 10 Brixton Street, ...",Kapitolyo,"Kapitolyo, Pasig City",121.056532,14.572041,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,532

# PREPROCESSING

In [3]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [5]:
nan_values = df.isna().sum()
print("Columns with NaN values:")
print(nan_values[nan_values > 0])

Columns with NaN values:
Cuisines    9
dtype: int64

In [6]:
most_frequent_cuisine = df['Cuisines'].mode()[0]
df['Cuisines'] = df['Cuisines'].fillna(most_frequent_cuisine)

In [7]:
nan_values = df.isna().sum()
print("Columns with NaN values:")
print(nan_values[nan_values > 0])

Columns with NaN values:
Series([], dtype: int64)

In [8]:
df['City'] = df['City'].replace({
    'Bras�_lia': 'Brazil',
    'S��o Paulo': 'Sao Paulo',
    '��stanbul': 'Istanbul'
})

In [9]:
numerical_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

if len(numerical_features)>len(categorical_features):
    categorical_features.extend([' '] * (len(numerical_features) - len(categorical_features)))
elif len(numerical_features)<len(categorical_features):
    numerical_features.extend([' '] * (len(categorical_features) - len(numerical_features)))


features = pd.DataFrame({
'Numerical': numerical_features,
'Categorical': categorical_features
})

features

               Numerical           Categorical
0          Restaurant ID       Restaurant Name
1           Country Code                  City
2              Longitude               Address
3               Latitude              Locality
4   Average Cost for two      Locality Verbose
5            Price range              Cuisines
6       Aggregate rating              Currency
7                  Votes     Has Table booking
8                          Has Online delivery
9                            Is delivering now
10                        Switch to order menu
11                                Rating color
12                                 Rating text

# ENCODING

In [10]:
# Label encoding binary categorical columns
le = LabelEncoder()
df['Has Table booking'] = le.fit_transform(df['Has Table booking'])
df['Has Online delivery'] = le.fit_transform(df['Has Online delivery'])
df['Is delivering now'] = le.fit_transform(df['Is delivering now'])
df['Switch to order menu'] = le.fit_transform(df['Switch to order menu'])
df['Rating color'] = le.fit_transform(df['Rating color'])
df['Rating text'] = le.fit_transform(df['Rating text'])

# One-hot encoding multi-class categorical columns
df = pd.get_dummies(df, columns=['Country Code', 'City', 'Currency'])

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
#VECTORIZING CUISINES TYPES
tfidf = TfidfVectorizer(stop_words='english')
df['Cuisines'] = df['Cuisines'].fillna('')
tfidf_matrix = tfidf.fit_transform(df['Cuisines'])

#COSINE SIMILARITY
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

# RECOMMENDATION FUNCTION

In [13]:
def get_recommendations(restaurant_index, cosine_sim=cosine_sim):
    
    sim_scores = list(enumerate(cosine_sim[restaurant_index]))          # Get Similarity Scores (SS)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)   # Sort restaurants based on SS
    sim_scores = sim_scores[1:16]                                       # Top 15 most Similar restaurants
    restaurant_indices = [i[0] for i in sim_scores]                     # Indices
    
    # Extract city names
    recommended_restaurants = df.iloc[restaurant_indices].copy()
    city_columns = [col for col in df.columns if col.startswith('City_')]
    for idx in recommended_restaurants.index:
        city = df.loc[idx, city_columns].idxmax().replace('City_', '')
        recommended_restaurants.loc[idx, 'City'] = city
    
    return recommended_restaurants[['Restaurant Name', 'Aggregate rating', 'City', 'Cuisines','Price range','Votes', 'Has Table booking', 'Has Online delivery', 'Address' ]]

- Sample user preferences

In [14]:
user_preferences = {
    'Cuisines': 'Thai',
    'City': 'Dalton',
    'Price range': 2,
    'Aggregate rating': 4.2,
    'Has Table booking': 0,
    'Has Online delivery': 0,
    }

- Filter restaurants based on user preferences

In [15]:
city_column = f"City_{user_preferences['City']}"
if city_column not in df.columns:
    raise ValueError(f"City '{user_preferences['City']}' not found in the dataset.")

filtered_df = df[
    (df['Cuisines'].str.contains(user_preferences['Cuisines'])) &
    (df[city_column] == 1) &
    (df['Price range'] <= user_preferences['Price range']) &
    (df['Aggregate rating'] >= user_preferences['Aggregate rating']) &
    (df['Has Table booking'] == user_preferences['Has Table booking']) &
    (df['Has Online delivery'] == user_preferences['Has Online delivery'])
]

- Recommend restaurants

In [16]:
if filtered_df.empty:
    print("No restaurants found matching the user preferences.")
else:
    example_restaurant_index = filtered_df.index[0]
    recommendations = get_recommendations(example_restaurant_index)
    recommendations_df = pd.DataFrame(recommendations)
    recommendations_df

In [17]:
recommendations_df

,Restaurant Name,Aggregate rating,City,Cuisines,Price range,Votes,Has Table booking,Has Online delivery,Address
223,Thai Garden,4.2,Dalton,Thai,2,111,0,0,"685 Battlefield Pkwy, Fort Oglethorpe, GA 30742"
242,Exotic Thai Restaurant,4.1,Davenport,Thai,2,256,0,0,"2303 E 53rd St, Davenport, IA 52807"
305,Eat at Thai,4.6,Gainesville,Thai,1,357,0,0,"975 Dawsonville Hwy, Gainesville, GA 30501"
320,Blue Orchid Thai Restaurant,4.5,Lincoln,Thai,2,799,0,0,"129 N 10th St, Lincoln, NE 68508"
559,The Thai Bowl,3.5,Waterloo,Thai,1,58,0,0,"624 Sycamore Street, Waterloo, IA 50703"
1563,Bangkok 1,3.3,Gurgaon,Thai,2,40,0,0,"FC-10B, 3rd Floor, MGF Metropolitan Mall, MG R..."
3687,Thai House by Kylin,3.8,New Delhi,Thai,3,54,1,1,"N-6, 1st Floor, Greater Kailash (GK) 1, New Delhi"
6525,Neung Roi - Radisson Blu Plaza Delhi,4.5,New Delhi,Thai,4,295,1,0,"Radisson Blu Plaza Delhi, National Highway 8, ..."
6928,Ziu,4.1,New Delhi,Thai,3,259,0,0,"Sangam Courtyard, Major Somnath Marg, R K Pura..."
7518,Mei Kun - The Leela Ambience Convention Hotel,3.6,New Delhi,Thai,4,42,1,0,"The Leela Ambience Convention Hotel, Maharaja ..."
9297,Kiss Kiss,4.3,Auckland,Thai,2,133,0,0,"1 Rocklands Avenue, Balmoral, Auckland"
9340,Chaophraya,3.9,Birmingham,Thai,2,22,1,0,"Middle Mall, Bullring Shopping Centre, Special..."
9363,Chaophraya,4.3,Edinburgh,Thai,4,61,1,0,"4th Floor, 33 Castle Street, New Town, Edinbur..."
9403,Chaophraya,4.3,Manchester,Thai,4,422,1,0,"19 Chapel Walks, City Center, Market Street, M..."
9434,Sabai Thai - The Westin Doha Hotel & Spa,4.3,Doha,Thai,4,73,0,0,"Ground Floor, The Westin Doha Hotel & Spa, Fer..."

# GUI

In [18]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import tkinter as tk
from tkinter import ttk

- FILTER FUNCTION

In [19]:
def filter_restaurants():
    user_preferences = {
        'Cuisines': cuisines_entry.get(),
        'City': city_entry.get(),
        'Price range': int(price_range_entry.get()),
        'Aggregate rating': float(aggregate_rating_entry.get()),
        'Has Table booking': table_booking_var.get(),
        'Has Online delivery': online_delivery_var.get()
    }

    city_column = f"City_{user_preferences['City']}"
    if city_column not in df.columns:
        result_tree.delete(*result_tree.get_children())
        result_tree.insert('', 'end', values=(f"City '{user_preferences['City']}' not found in the dataset.",))
        return

    filtered_df = df[
        (df['Cuisines'].str.contains(user_preferences['Cuisines'], case=False)) &
        (df[city_column] == 1) &
        (df['Price range'] <= user_preferences['Price range']) &
        (df['Aggregate rating'] >= user_preferences['Aggregate rating']) &
        (df['Has Table booking'] == user_preferences['Has Table booking']) &
        (df['Has Online delivery'] == user_preferences['Has Online delivery'])
    ]

    result_tree.delete(*result_tree.get_children())
    
    if filtered_df.empty:
        result_tree.insert('', 'end', values=("No restaurants found matching the user preferences.",))
    else:
        example_restaurant_index = filtered_df.index[0]
        recommendations = get_recommendations(example_restaurant_index)
        for _, row in recommendations.iterrows():
            result_tree.insert('', 'end', values=list(row))

- MAIN WINDOW

In [20]:
root = tk.Tk()
root.title("Restaurant Recommendation System")

# LABELS
ttk.Label(root, text="Cuisines:").grid(row=0, column=0, padx=10, pady=10)
cuisines_entry = ttk.Entry(root)
cuisines_entry.grid(row=0, column=1, padx=10, pady=10)

ttk.Label(root, text="City:").grid(row=1, column=0, padx=10, pady=10)
city_entry = ttk.Entry(root)
city_entry.grid(row=1, column=1, padx=10, pady=10)

ttk.Label(root, text="Price Range:").grid(row=2, column=0, padx=10, pady=10)
price_range_entry = ttk.Entry(root)
price_range_entry.grid(row=2, column=1, padx=10, pady=10)

ttk.Label(root, text="Aggregate Rating:").grid(row=3, column=0, padx=10, pady=10)
aggregate_rating_entry = ttk.Entry(root)
aggregate_rating_entry.grid(row=3, column=1, padx=10, pady=10)

table_booking_var = tk.IntVar()
ttk.Checkbutton(root, text="Has Table booking", variable=table_booking_var).grid(row=4, column=0, padx=10, pady=10)

online_delivery_var = tk.IntVar()
ttk.Checkbutton(root, text="Has Online delivery", variable=online_delivery_var).grid(row=4, column=1, padx=10, pady=10)

# FILTER BUTTON
ttk.Button(root, text="Filter", command=filter_restaurants).grid(row=5, column=0, columnspan=2, padx=10, pady=10)

# TREEVIEW FOR RESULT
columns = ['Restaurant Name', 'Aggregate rating', 'City', 'Cuisines', 'Price range', 'Votes', 'Has Table booking', 'Has Online delivery', 'Address']
result_tree = ttk.Treeview(root, columns=columns, show='headings', height=10)

for col in columns:
    result_tree.heading(col, text=col)
    result_tree.column(col, anchor='center')

result_tree.grid(row=6, column=0, columnspan=2, padx=10, pady=10)
root.mainloop()

# --------------------------- END ------------------------- #